body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
 display: flex; 
 align-items: center;
 justify-content: center;
}


.container{
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.queries{
display: flex;
/* align-items: center; */
justify-content: center;
flex-direction: column;
gap: 10px;
}
.ques-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: rgb(236, 99, 49);
  padding: 10px;
  font-size: 1.2rem;
  color: white;

}

span{
  font-weight: bold;
  font-size: 1.8rem;
}

.ques{
  white-space: nowrap;
}

.multi-selection-btn{
  background: rgb(236, 99, 49);
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 10px;

}


.ans{
  color: white;
  font-size: 1.2rem;
  background: rgb(236, 99, 49);
}


.wrapper-queries{
  max-width: 550px;
}